@import 'tailwindcss';
body {
  height: 100vh;
  margin: 0;
}

html,
body {
  min-width: 280px;
}
@media (max-width: 280px) {
  body::before {
    content: 'Window size is too small!';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    z-index: 9999;
  }
}
